Repository unstoppabledomains/uauth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Fixed wagmi for wc, todo, find out about eager connect of wc
  examples/wagmi/src/index.tsx
  packages/wagmi/src/UAuthWagmiConnector.ts
Due: prettier --write, eslint --fix

Typescript upgrade and fix in the node client file
  package.json
  packages/node/src/Client.ts
  packages/wagmi/src/UAuthWagmiConnector.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: add some npm display info
  packages/bnc-onboard/package.json
  packages/common/package.json
  packages/js/package.json
  packages/moralis/package.json
  packages/node/package.json
  packages/web3-onboard/package.json
  packages/web3modal/package.json
Due: prettier --write

Added signupSuggestion
  packages/js/src/Client.ts
  packages/js/src/api/types.ts
  packages/js/src/types.ts
Due: prettier --write, eslint --fix

v2.7.0
  packages/bnc-onboard/package.json
  packages/js/package.json
  packages/moralis/package.json
  packages/web3-onboard/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

Adding back the web3modal package
  packages/web3modal/README.md
  packages/web3modal/package.json
  packages/web3modal/src/index.ts
Due: prettier --write, eslint --fix

updated yarn lock
  yarn.lock
Due: none

JSON payload premium scopr info
  packages/js/src/Client.ts
  packages/js/src/types.ts
Due: prettier --write, eslint --fix

User payload for non-premium partners
  packages/js/src/Client.ts
  packages/js/src/types.ts
Due: prettier --write, eslint --fix

Updated references to wagmi docs
  packages/wagmi/README.md
Due: prettier --write

Premium placeholders
  packages/js/src/Client.ts
  packages/js/src/types.ts
  packages/js/src/util/getScopesList.ts
Due: prettier --write, eslint --fix

Small update to remove 404 link
  packages/wagmi/README.md
Due: prettier --write

removed web3 modal reference
  examples/wagmi/README.md
Due: prettier --write

Added UD Wagmi doc link
  examples/wagmi/README.md
  packages/wagmi/README.md
Due: prettier --write

Update picture placeholder
  packages/js/src/Client.ts
Due: prettier --write, eslint --fix

chore: update web3-react version
  examples/web3-react/package.json
  examples/web3-react/yarn.lock
  packages/web3-react/package.json
  yarn.lock
Due: prettier --write

Update version
  .yarn/versions/b79ed4fa.yml
Due: none

v2.8.0
  packages/js/package.json
Due: prettier --write

v2.8.1
  packages/web3-react/package.json
Due: prettier --write

Setting Wagmi version to 2.0 to start
  packages/wagmi/package.json
Due: prettier --write

Add for deploying wagmi package
  .github/workflows/build_test_release.yml
Due: none

v2.9.0
  packages/wagmi/package.json
Due: prettier --write

Updated uatuh wagmi to prevent import of wagmi core libs
  examples/wagmi/yarn.lock
  packages/wagmi/package.json
  packages/wagmi/src/UAuthWagmiConnector.ts
  packages/wagmi/tsup.config.ts
Due: prettier --write, eslint --fix

Adding updated yarn lock
  yarn.lock
Due: none

Bumping wagmi version
  packages/wagmi/package.json
Due: prettier --write

v2.10.0
  packages/wagmi/package.json
Due: prettier --write

Prevent need for dynamic wagmi import
  packages/wagmi/src/UAuthWagmiConnector.ts
Due: prettier --write, eslint --fix

Bump version of wagmi
  packages/wagmi/package.json
Due: prettier --write

v3.0.0
  packages/wagmi/package.json
Due: prettier --write

Update to latest Wagmi version for Ledger vulnerability fix
  packages/wagmi/package.json
  yarn.lock
Due: prettier --write

Bump NPM version for Ledger hotfix release
  packages/wagmi/package.json
Due: prettier --write

Package NPM version for update
  .yarn/versions/6e980255.yml
  packages/wagmi/package.json
Due: prettier --write

Package NPM version for update
  .yarn/versions/afd24bfb.yml
  packages/wagmi/package.json
Due: prettier --write

Update resolution library version
  packages/common/package.json
  packages/js/package.json
  packages/node/package.json
  yarn.lock
Due: prettier --write

Version updates
  .yarn/versions/6e980255.yml
  .yarn/versions/afd24bfb.yml
  .yarn/versions/b79ed4fa.yml
  packages/bnc-onboard/package.json
  packages/common/package.json
  packages/js/package.json
  packages/moralis/package.json
  packages/node/package.json
  packages/wagmi/package.json
  packages/web3-onboard/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

Update versioning instructions
  DEVELOPMENT.md
Due: prettier --write

Update Resolution() init to reference an API key
  examples/server/src/index.ts
  packages/js/src/Client.ts
Due: prettier --write, eslint --fix

v3.0.1
  packages/bnc-onboard/package.json
  packages/common/package.json
  packages/js/package.json
  packages/moralis/package.json
  packages/node/package.json
  packages/wagmi/package.json
  packages/web3-onboard/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

Add workflow template
  .github/workflows/always_fail_workflow.yaml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
