Repository unstoppabledomains/uauth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

added developer survey
  README.md
Due: prettier --write

Add new packages and examples to README
  README.md
  examples/bnc-onboard/README.md
  examples/moralis/README.md
  examples/server/README.md
  examples/web3-onboard/README.md
  examples/web3-react/README.md
  examples/web3modal/README.md
  packages/bnc-onboard/README.md
  packages/moralis/README.md
  packages/node/README.md
  packages/web3-onboard/README.md
  packages/web3-react/README.md
  packages/web3modal/README.md
Due: prettier --write

Import type from web3modal
  packages/web3modal/src/index.ts
Due: prettier --write, eslint --fix

Updated server package to use new free domain flow
  examples/server/package.json
  examples/server/src/index.ts
  examples/server/yarn.lock
  packages/common/src/types.ts
  packages/node/src/Client.ts
Due: prettier --write, eslint --fix

v2.0.1-rc.0
  packages/common/package.json
  packages/node/package.json
Due: prettier --write

v2.0.1
  packages/common/package.json
  packages/node/package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

[LOG-253] Attach UAuth Version to Window
  .gitignore
  packages/bnc-onboard/package.json
  packages/bnc-onboard/src/index.ts
  packages/common/package.json
  packages/common/src/DefaultWebFingerResolver.ts
  packages/js/package.json
  packages/js/src/Client.ts
  packages/moralis/package.json
  packages/moralis/src/UAuthMoralisConnector.ts
  packages/web3-onboard/package.json
  packages/web3-onboard/src/index.ts
  packages/web3-react/package.json
  packages/web3-react/src/UAuthConnector.ts
  packages/web3modal/package.json
  packages/web3modal/src/index.ts
Due: prettier --write, eslint --fix

update lint & test script
  package.json
  packages/node/package.json
Due: prettier --write

update gitignore file
  .gitignore
Due: none

update release workflow
  .github/workflows/build_test_release.yml
Due: none

v2.0.1-rc.1
  packages/bnc-onboard/package.json
  packages/common/package.json
  packages/js/package.json
  packages/moralis/package.json
  packages/node/package.json
  packages/web3-onboard/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

v2.1.0
  packages/bnc-onboard/package.json
  packages/common/package.json
  packages/js/package.json
  packages/moralis/package.json
  packages/node/package.json
  packages/web3-onboard/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

[LOG-349] Add package name and version tracking
  packages/bnc-onboard/src/index.ts
  packages/common/src/DefaultWebFingerResolver.ts
  packages/common/src/types.ts
  packages/js/src/Client.ts
  packages/js/src/api/types.ts
  packages/js/src/types.ts
  packages/moralis/src/UAuthMoralisConnector.ts
  packages/node/package.json
  packages/node/src/Client.ts
  packages/web3-onboard/src/index.ts
  packages/web3-react/src/UAuthConnector.ts
  packages/web3modal/src/index.ts
Due: prettier --write, eslint --fix

[LOG-349] Add fallback
  packages/js/src/Client.ts
Due: prettier --write, eslint --fix

v2.2.0
  packages/bnc-onboard/package.json
  packages/common/package.json
  packages/js/package.json
  packages/moralis/package.json
  packages/node/package.json
  packages/web3-onboard/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

fix(web3modal): fix web3modal import issue
  packages/web3modal/src/index.ts
Due: prettier --write, eslint --fix

Upgraded resolution library
  packages/common/package.json
  packages/js/package.json
  packages/node/package.json
  packages/web3modal/package.json
Due: prettier --write

Fix yarn.lock
  yarn.lock
Due: none

v2.3.0
  packages/common/package.json
  packages/js/package.json
  packages/node/package.json
Due: prettier --write

Update example readme add instructions
  examples/bnc-onboard/README.md
  examples/moralis/README.md
  examples/web3-onboard/README.md
  examples/web3-react/README.md
  examples/web3modal/README.md
Due: prettier --write

Method to provide signature proof metadata
  examples/spa/src/index.tsx
  package.json
  packages/js/src/Client.ts
  packages/js/src/types.ts
  yarn.lock
Due: prettier --write, eslint --fix

Refactor for generic account retriever
  examples/spa/src/index.tsx
  packages/js/src/Client.ts
  packages/js/src/types.ts
Due: prettier --write, eslint --fix

Add unit tests for verified accounts
  packages/js/src/Client.test.ts
Due: prettier --write, eslint --fix

v2.4.0
  packages/bnc-onboard/package.json
  packages/js/package.json
  packages/moralis/package.json
  packages/node/package.json
  packages/web3-onboard/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

Update web3-react example with error handling
  examples/spa/.gitignore
  examples/web3-react/.gitignore
  examples/web3-react/src/App.tsx
  examples/web3-react/src/connectors.ts
Due: prettier --write, eslint --fix

Updated client id using new client created with shared wallet 2
  .yarnrc.yml
  examples/bnc-onboard/.env
  examples/moralis/.env
  examples/nextjs/.env
  examples/spa/.env
  examples/sveltekit/.env
  examples/sveltekit/src/routes/index.svelte
  examples/web3-onboard/.env
  examples/web3-react/.env
  examples/web3modal/.env
Due: none

Log-963 update for web3-react v8 support, still need to figure out build script
  examples/web3-react/package.json
  examples/web3-react/src/App.tsx
  examples/web3-react/src/components/Account.tsx
  examples/web3-react/src/components/ConnectorCard.tsx
  examples/web3-react/src/components/Status.tsx
  examples/web3-react/src/connectors.ts
  examples/web3-react/src/index.tsx
  examples/web3-react/src/types.ts
  examples/web3-react/tsconfig.json
  examples/web3-react/yarn.lock
  package.json
  packages/web3-react/package.json
  packages/web3-react/src/UAuthConnector.ts
  packages/web3-react/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

Fixed connector class name
  examples/web3-react/src/connectors.ts
  packages/web3-react/src/index.ts
Due: prettier --write, eslint --fix

Updates to bundle using tsc command and cleaned up code for final push
  examples/web3-react/package.json
  examples/web3-react/src/App.tsx
  examples/web3-react/src/components/ConnectorCard.tsx
  examples/web3-react/src/connectors.ts
  examples/web3-react/src/index.tsx
  examples/web3-react/src/types.ts
  examples/web3-react/tsconfig.json
  examples/web3-react/yarn.lock
  package.json
  packages/web3-react/package.json
  packages/web3-react/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

Committing version update and build fix
  packages/web3-react/package.json
  packages/web3-react/tsconfig.json
Due: prettier --write

Added the yarn version script back to build command of web3-react
  packages/web3-react/package.json
Due: prettier --write

Prevent defaulting the chain ID for activate
  packages/web3-react/src/UAuthConnector.ts
Due: prettier --write, eslint --fix

v2.4.1-rc.0
  packages/web3-react/package.json
Due: prettier --write

Properly disconnect uauthConnector, and call reset state on subConnector
  packages/web3-react/src/UAuthConnector.ts
Due: prettier --write, eslint --fix

v2.5.0
  packages/web3-react/package.json
Due: prettier --write

Fixed chainId tracking bug
  packages/web3-react/src/UAuthConnector.ts
Due: prettier --write, eslint --fix

v2.6.0
  packages/web3-react/package.json
Due: prettier --write

Added wagmi connector, to use uauth and then provide the wagmi hooks
  examples/wagmi/.gitignore
  examples/wagmi/README.md
  examples/wagmi/package-lock.json
  examples/wagmi/package.json
  examples/wagmi/public/favicon.ico
  examples/wagmi/public/index.html
  examples/wagmi/public/logo192.png
  examples/wagmi/public/logo512.png
  examples/wagmi/public/manifest.json
  examples/wagmi/public/robots.txt
  examples/wagmi/src/App.tsx
  examples/wagmi/src/components/CustomButton.tsx
  examples/wagmi/src/index.tsx
  examples/wagmi/src/lib/UauthWagmiConnector.ts
  examples/wagmi/tsconfig.json
  examples/wagmi/yarn.lock
Due: prettier --write, eslint --fix

added the wagmi package for uauth
  .gitignore
  examples/wagmi/package.json
  examples/wagmi/src/App.tsx
  examples/wagmi/src/components/CustomButton.tsx
  examples/wagmi/src/index.tsx
  examples/wagmi/src/lib/UauthWagmiConnector.ts
  packages/.DS_Store
  packages/wagmi/README.md
  packages/wagmi/package.json
  packages/wagmi/src/UAuthWagmiConnector.ts
  packages/wagmi/src/index.ts
  packages/wagmi/tsconfig.json
  packages/wagmi/tsup.config.ts
  packages/web3modal/README.md
  packages/web3modal/package.json
  packages/web3modal/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
