Repository unstoppabledomains/uauth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

fleshed out modal
  .jwk-private.json
  .jwk-public.json
  chevron-right-solid.svg
  circle-notch-solid.svg
  external-link-alt-solid.svg
  lerna.json
  package.json
  packages/common/package.json
  packages/common/src/MemoryDomainResolver.ts
  packages/js/src/index.ts
  packages/js/src/types/index.ts
  packages/modal/package.json
  packages/modal/src/Modal.css
  packages/modal/src/Modal.tsx
  packages/modal/src/index.tsx
  packages/modal/src/question-circle-regular.svg
  packages/modal/src/useDebouncedValue.ts
  packages/modal/tsconfig.json
  packages/modal/types.d.ts
  packages/widget/package.json
  packages/widget/src/App.tsx
  packages/widget/src/uauth.ts
  packages/widget/src/widget/Button.tsx
  packages/widget/src/widget/Modal.tsx
  packages/widget/src/widget/index.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

added some psuedocode
  examples/spa/psuedo-code.ts
  packages/js/src/index.ts
  packages/js/src/types/index.ts
  packages/widget/package.json
  packages/widget/src/App.tsx
  packages/widget/src/components/Button.css
  packages/widget/src/components/Button.tsx
  packages/widget/src/components/Loading.css
  packages/widget/src/components/Loading.tsx
  packages/widget/src/components/LoginButton.tsx
  packages/widget/src/components/icons/ArrowIcon.tsx
  packages/widget/src/components/icons/BackArrow.tsx
  packages/widget/src/components/icons/EthereumIcon.tsx
  packages/widget/src/components/icons/LoadingLogo.tsx
  packages/widget/src/components/icons/MetamaskLogo.tsx
  packages/widget/src/components/icons/UDLogo.tsx
  packages/widget/src/components/icons/UnstoppableLogo.css
  packages/widget/src/components/icons/UnstoppableLogo.tsx
  packages/widget/src/components/icons/WalletConnectLogo.tsx
  packages/widget/src/components/root.css
  packages/widget/src/widget/index.css
  packages/widget/src/widget/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

added up to date spa
  examples/spa/.env
  examples/spa/psuedo-code.ts
  examples/spa/src/App.tsx
  examples/spa/src/index.tsx
  packages/modal/src/Modal.tsx
Due: prettier --write, eslint --fix

build & deploy pipline improvements
  examples/spa/.env
  examples/spa/.env.production
  examples/spa/.gcloudignore
  examples/spa/README.md
  examples/spa/app.yaml
  examples/spa/package.json
  examples/spa/psuedo-code.ts
  examples/spa/src/index.tsx
  lerna.json
  package.json
  packages/js/package.json
  packages/node/package.json
  packages/node/src/Resource.ts
  packages/node/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

v0.1.0
  lerna.json
  packages/common/package.json
  packages/js/package.json
  packages/modal/package.json
Due: prettier --write

build & deploy pipline improvements
  examples/spa/.env
  examples/spa/.env.production
  examples/spa/.gcloudignore
  examples/spa/README.md
  examples/spa/app.yaml
  examples/spa/package.json
  examples/spa/psuedo-code.ts
  examples/spa/src/index.tsx
  lerna.json
  package.json
  packages/js/package.json
  packages/modal/package.json
  packages/node/package.json
  packages/node/src/Resource.ts
  packages/node/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

v0.1.0
  lerna.json
Due: prettier --write

changed the production redirect_uris
  examples/spa/.env.production
Due: none

changed app.yaml
  examples/spa/app.yaml
Due: none

removed create-jwk script
  package.json
  scripts/create-jwk.ts
Due: prettier --write, eslint --fix

changed publishConfig for @uauth/node
  packages/node/package.json
Due: prettier --write

v0.2.0
  lerna.json
  packages/common/package.json
  packages/js/package.json
  packages/modal/package.json
  packages/node/package.json
Due: prettier --write

:bulb: document @uauth/js some
  packages/js/README.md
Due: prettier --write

:bulb: document @uauth/node
  packages/js/README.md
  packages/node/README.md
Due: prettier --write

Update README.md
  packages/node/README.md
Due: prettier --write

added web3modal package
  examples/server/package.json
  examples/server/src/index.ts
  examples/server/yarn.lock
  examples/web3modal/.env
  examples/web3modal/.gitignore
  examples/web3modal/README.md
  examples/web3modal/package.json
  examples/web3modal/public/favicon.ico
  examples/web3modal/public/index.html
  examples/web3modal/public/logo192.png
  examples/web3modal/public/logo512.png
  examples/web3modal/public/manifest.json
  examples/web3modal/public/robots.txt
  examples/web3modal/src/App.tsx
  examples/web3modal/src/CallbackPage.tsx
  examples/web3modal/src/HomePage.tsx
  examples/web3modal/src/Web3ModalContext.tsx
  examples/web3modal/src/index.css
  examples/web3modal/src/index.tsx
  examples/web3modal/src/providerOptions.ts
  examples/web3modal/src/react-app-env.d.ts
  examples/web3modal/tsconfig.json
  examples/web3modal/yarn.lock
  lerna.json
  packages/node/src/Client.ts
  packages/web3modal/README.md
  packages/web3modal/package.json
  packages/web3modal/src/index.ts
  packages/web3modal/src/logo.svg
  yarn.lock
Due: prettier --write, eslint --fix

added files to package.json
  packages/common/package.json
  packages/js/package.json
  packages/modal/package.json
  packages/node/package.json
  packages/web3modal/package.json
Due: prettier --write

modified versions of web3modal dependancies
  packages/web3modal/package.json
Due: prettier --write

v0.3.0
  lerna.json
  packages/common/package.json
  packages/js/package.json
  packages/modal/package.json
  packages/node/package.json
  packages/web3modal/package.json
Due: prettier --write

added web3-react support
  examples/web3-react/.env
  examples/web3-react/.gitignore
  examples/web3-react/README.md
  examples/web3-react/package.json
  examples/web3-react/public/favicon.ico
  examples/web3-react/public/index.html
  examples/web3-react/public/logo192.png
  examples/web3-react/public/logo512.png
  examples/web3-react/public/manifest.json
  examples/web3-react/public/robots.txt
  examples/web3-react/src/CallbackPage.tsx
  examples/web3-react/src/HomePage.tsx
  examples/web3-react/src/connectors.ts
  examples/web3-react/src/index.css
  examples/web3-react/src/index.tsx
  examples/web3-react/src/react-app-env.d.ts
  examples/web3-react/tsconfig.json
  examples/web3-react/yarn.lock
  lerna.json
  packages/web3-react/README.md
  packages/web3-react/package.json
  packages/web3-react/src/UAuthConnector.ts
  packages/web3-react/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

v0.4.0
  lerna.json
  packages/common/package.json
  packages/js/package.json
  packages/modal/package.json
  packages/node/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

:bulb: document packages & examples
  README.md
Due: prettier --write

:bulb: revise docs
  README.md
Due: prettier --write

added bnc-onboard support
  README.md
  examples/bnc-onboard/.env
  examples/bnc-onboard/.gitignore
  examples/bnc-onboard/README.md
  examples/bnc-onboard/package.json
  examples/bnc-onboard/public/favicon.ico
  examples/bnc-onboard/public/index.html
  examples/bnc-onboard/public/logo192.png
  examples/bnc-onboard/public/logo512.png
  examples/bnc-onboard/public/manifest.json
  examples/bnc-onboard/public/robots.txt
  examples/bnc-onboard/src/CallbackPage.tsx
  examples/bnc-onboard/src/HomePage.tsx
  examples/bnc-onboard/src/OnboardContext.tsx
  examples/bnc-onboard/src/index.css
  examples/bnc-onboard/src/index.tsx
  examples/bnc-onboard/src/react-app-env.d.ts
  examples/bnc-onboard/src/uauthOnboard.ts
  examples/bnc-onboard/tsconfig.json
  examples/bnc-onboard/yarn.lock
  lerna.json
  packages/bnc-onboard/README.md
  packages/bnc-onboard/package.json
  packages/bnc-onboard/src/index.ts
Due: prettier --write, eslint --fix

changed logo on demo
  examples/spa/.env
  examples/spa/.env.production
  examples/spa/public/favicon.ico
  examples/spa/public/index.html
  examples/spa/src/index.css
Due: none

v0.5.0
  lerna.json
  packages/bnc-onboard/package.json
  packages/common/package.json
  packages/js/package.json
  packages/modal/package.json
  packages/node/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

:bulb: document blocknative onboard example
  examples/bnc-onboard/README.md
Due: prettier --write

added sveltekit example
  examples/sveltekit/.env
  examples/sveltekit/.eslintrc.cjs
  examples/sveltekit/.gitignore
  examples/sveltekit/.prettierrc
  examples/sveltekit/README.md
  examples/sveltekit/package.json
  examples/sveltekit/src/app.html
  examples/sveltekit/src/global.d.ts
  examples/sveltekit/src/lib/uauth.ts
  examples/sveltekit/src/routes/callback.svelte
  examples/sveltekit/src/routes/index.svelte
  examples/sveltekit/src/routes/profile.svelte
  examples/sveltekit/static/favicon.png
  examples/sveltekit/svelte.config.js
  examples/sveltekit/tsconfig.json
  examples/sveltekit/yarn.lock
Due: prettier --write, eslint --fix

removed jsonwebtoken dependancy from @uauth/js
  examples/bnc-onboard/yarn.lock
  examples/server/package.json
  examples/server/yarn.lock
  examples/sveltekit/yarn.lock
  examples/web3modal/yarn.lock
  packages/common/package.json
  packages/common/src/index.ts
  packages/js/package.json
  packages/js/src/index.ts
  packages/js/src/verifyIdToken.ts
  packages/js/yarn-error.log
  packages/modal/src/Modal.tsx
  packages/node/package.json
  packages/node/src/Client.ts
  packages/node/src/verifyIdToken.ts
  yarn.lock
Due: prettier --write, eslint --fix

v0.6.0
  lerna.json
  packages/bnc-onboard/package.json
  packages/common/package.json
  packages/js/package.json
  packages/modal/package.json
  packages/node/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

:bulb: document adding sveltekit example
  README.md
Due: prettier --write

:bug: fix url encoding bug
  packages/js/src/index.ts
Due: prettier --write, eslint --fix

fixed bnc-onboard dependancies
  packages/bnc-onboard/package.json
  yarn.lock
Due: prettier --write

v0.6.1
  lerna.json
  packages/bnc-onboard/package.json
  packages/js/package.json
  packages/web3modal/package.json
Due: prettier --write

tmp commit
  examples/bnc-onboard/src/react-app-env.d.ts
  examples/web3-react/package.json
  examples/web3-react/src/react-app-env.d.ts
  examples/web3-react/yarn.lock
  packages/web3-react/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
