Repository unstoppabledomains/uauth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fixed walletconnect import issue
  examples/moralis/src/connectors.ts
  packages/moralis/package.json
  packages/moralis/src/UAuthMoralisConnector.ts
  packages/moralis/src/Utils.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: examples/web3modal/package.json to reduce vulnerabilities
  examples/web3modal/package.json
Due: prettier --write

added .yarn/release to git
  .yarn/releases/yarn-3.2.0.cjs
Due: none

fix: examples/bnc-onboard/package.json to reduce vulnerabilities
  examples/bnc-onboard/package.json
Due: prettier --write

removed extra import
  packages/moralis/src/UAuthMoralisConnector.ts
Due: prettier --write, eslint --fix

v1.1.1
  .version
Due: none

Add integration guide links to readmes
  examples/bnc-onboard/README.md
  examples/web3-react/README.md
  examples/web3modal/README.md
  packages/bnc-onboard/README.md
  packages/js/README.md
  packages/node/README.md
  packages/web3-react/README.md
  packages/web3modal/README.md
Due: prettier --write

added the web3-onboard library and example
  examples/web3-onboard/.env
  examples/web3-onboard/.gitignore
  examples/web3-onboard/README.md
  examples/web3-onboard/package.json
  examples/web3-onboard/public/favicon.ico
  examples/web3-onboard/public/index.html
  examples/web3-onboard/public/logo192.png
  examples/web3-onboard/public/logo512.png
  examples/web3-onboard/public/manifest.json
  examples/web3-onboard/public/robots.txt
  examples/web3-onboard/src/index.tsx
  examples/web3-onboard/src/react-app-env.d.ts
  examples/web3-onboard/tsconfig.json
  packages/web3-onboard/README.md
  packages/web3-onboard/package.json
  packages/web3-onboard/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

updated readem.md file
  packages/web3-onboard/README.md
Due: prettier --write

[LOG-94] fixed walletconnect provider issue
  examples/web3-onboard/src/index.tsx
  packages/web3-onboard/package.json
  packages/web3-onboard/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

added the packages to lerna
  lerna.json
Due: prettier --write

LOG21: added manual workflow for auto generarion of CHANGELOG.md
  .github/workflows/changelog.yaml
Due: none

LOG21: removed unecessary config options
  .github/workflows/changelog.yaml
Due: none

Update uauth/moralis readme
  packages/bnc-onboard/README.md
  packages/moralis/README.md
  packages/node/README.md
  packages/web3-react/README.md
  packages/web3modal/README.md
Due: prettier --write

added logout to deactivate
  packages/web3-react/src/UAuthConnector.ts
Due: prettier --write, eslint --fix

Fixed bad type
  .github/workflows/build_test_release.yml
  packages/node/src/Client.ts
Due: prettier --write, eslint --fix

versioned for release
  .yarn/versions/94e6d804.yml
Due: none

versioned for prerelease
  .yarn/versions/94e6d804.yml
Due: none

trimmed core workspace
  .github/workflows/build_test_release.yml
  examples/bnc-onboard/package.json
  examples/moralis/package.json
  examples/nextjs/package.json
  examples/server/package.json
  examples/spa/package.json
  examples/sveltekit/package.json
  examples/web3-react/package.json
  examples/web3modal/package.json
  package.json
  packages/js/src/util/encoding/decodeState.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

removed example from version file
  .yarn/versions/94e6d804.yml
Due: none

added version check
  .yarn/versions/94e6d804.yml
Due: none

added push trigger
  .github/workflows/build_test_release.yml
Due: none

make release.sh executable
  scripts/release.sh
Due: none

@uauth/node@1.1.1-0
  .yarn/versions/94e6d804.yml
  packages/node/package.json
Due: prettier --write

add push trigger
  .github/workflows/build_test_release.yml
Due: none

add push trigger
  package.json
  scripts/.husky/pre-push
Due: prettier --write

change to postinstall
  package.json
Due: prettier --write

chmod
  scripts/release.sh
Due: none

added husky again
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --write

made pre push executable
  .husky/pre-push
Due: none

made a stupid change
  .yarn/versions/7a09b4d5.yml
  packages/js/src/Client.ts
Due: prettier --write, eslint --fix

@uauth/js@1.1.1-0
  .yarn/versions/7a09b4d5.yml
  .yarn/versions/94e6d804.yml
  packages/js/package.json
Due: prettier --write

[LOG-126] updated the popup closed error message
  packages/js/src/errors/errors.ts
Due: prettier --write, eslint --fix

[LOG-195] fixed the color of title and input text
  packages/dom-ui/src/styles.ts
Due: prettier --write, eslint --fix

[LOG-195] fixed version check issue
  .yarn/versions/d12393e2.yml
Due: none

[LOG-195] fixed version issue
  .yarn/versions/d12393e2.yml
Due: none

@uauth/dom-ui@1.1.1
  .yarn/versions/94e6d804.yml
  .yarn/versions/d12393e2.yml
  packages/dom-ui/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
