Repository unstoppabledomains/uauth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,md}": "prettier --write",
  "*.{ts,tsx,js,jsx}": "eslint --fix"
}

Update example readmes
  examples/bnc-onboard/README.md
  examples/moralis/README.md
  examples/nextjs/README.md
  examples/server/README.md
  examples/spa/README.md
  examples/sveltekit/README.md
  examples/web3-react/README.md
  examples/web3modal/README.md
Due: prettier --write

Fix typo
  examples/bnc-onboard/README.md
Due: prettier --write

Added DEVELOPMENT.md documentation
  .yarn/versions/94e6d804.yml
  .yarn/versions/d12393e2.yml
  DEVELOPMENT.md
  README.md
Due: prettier --write

Changed build_test_deploy.yml
  .github/workflows/build_test_release.yml
Due: none

Fixed get workspaces output
  .github/workflows/build_test_release.yml
Due: none

Fixed get workspaces output again..
  .github/workflows/build_test_release.yml
Due: none

Flipping on live deployments
  .github/workflows/build_test_release.yml
Due: none

v1.1.1-rc.0
  .yarnrc.yml
Due: none

modify push command
  .github/workflows/build_test_release.yml
Due: none

Fix get_latest tag repository
  .github/workflows/build_test_release.yml
Due: none

Fix publish command
  .github/workflows/build_test_release.yml
Due: none

Fixed workspace foreach
  .github/workflows/build_test_release.yml
Due: none

Removed run
  .github/workflows/build_test_release.yml
Due: none

Configured npm registry
  .yarnrc.yml
Due: none

Added slash
  .yarnrc.yml
Due: none

v1.1.1-rc.1
  packages/abstract-ui/package.json
Due: prettier --write

v1.1.1-rc.2
  packages/moralis/package.json
Due: prettier --write

v1.1.1
  packages/moralis/package.json
Due: prettier --write

Formatting...
  examples/moralis/src/App.test.tsx
  examples/moralis/src/App.tsx
  packages/web3-onboard/package.json
  packages/web3-react/package.json
Due: prettier --write, eslint --fix

Formatting...
  examples/web3-onboard/package.json
  examples/web3-onboard/tsconfig.json
  packages/web3-onboard/README.md
Due: prettier --write

Got everything to compile
  .vscode/tasks.json
  examples/web3-onboard/.env
  examples/web3-onboard/package.json
  examples/web3-onboard/yarn.lock
  packages/web3-onboard/package.json
  yarn.lock
Due: prettier --write

Changed the versions in web3-onboard documentation
  packages/web3-onboard/package.json
Due: prettier --write

Removed version check
  package.json
Due: prettier --write

Fixed yarn.lock
  yarn.lock
Due: none

Added @uauth/web3-onboard
  .github/workflows/build_test_release.yml
Due: none

Worked around the stupid 10 arg limitation
  .github/workflows/build_test_release.yml
Due: none

v1.2.0
  packages/web3-onboard/package.json
Due: prettier --write

Standardize MD code block language identifiers
  examples/bnc-onboard/README.md
  examples/moralis/README.md
  examples/nextjs/README.md
  examples/server/README.md
  examples/spa/README.md
  examples/sveltekit/README.md
  examples/web3-react/README.md
  examples/web3modal/README.md
Due: prettier --write

LOG-123 added an error code along with uauth custom errors, more to be defined in the future
  packages/js/src/errors/createError.ts
  packages/js/src/errors/errors.ts
Due: prettier --write, eslint --fix

[LOG-251] added the unique css selector for uauth
  packages/dom-ui/src/styles.ts
Due: prettier --write, eslint --fix

[LOG-125] Add optional types
  packages/js/src/types.ts
Due: prettier --write, eslint --fix

[LOG-125] Correct message and signature types
  packages/js/src/types.ts
Due: prettier --write, eslint --fix

v1.2.1
  packages/js/package.json
Due: prettier --write

v2.0.0-rc.0
  packages/bnc-onboard/package.json
  packages/common/package.json
  packages/js/package.json
  packages/moralis/package.json
  packages/node/package.json
  packages/web3-onboard/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

Fixed some versioning...
  packages/bnc-onboard/package.json
  packages/common/package.json
  packages/js/package.json
  packages/moralis/package.json
  packages/node/package.json
  packages/web3-onboard/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

Updated yarn.lock
  yarn.lock
Due: none

v2.0.0
  packages/bnc-onboard/package.json
  packages/common/package.json
  packages/js/package.json
  packages/moralis/package.json
  packages/node/package.json
  packages/web3-onboard/package.json
  packages/web3-react/package.json
  packages/web3modal/package.json
Due: prettier --write

Remove client steps from example project instructions
  examples/bnc-onboard/README.md
  examples/moralis/README.md
  examples/nextjs/README.md
  examples/server/README.md
  examples/spa/README.md
  examples/sveltekit/README.md
  examples/web3-react/README.md
  examples/web3modal/.env
  examples/web3modal/README.md
Due: prettier --write

Update web3-react readmes
  examples/web3-onboard/README.md
  packages/bnc-onboard/README.md
  packages/node/README.md
  packages/web3-onboard/README.md
Due: prettier --write
